// Mixins in here
// color, background, then padding
.button(@1, @2, @3){
    text-align: center;
    color: @1;
    background: @2;
    padding: @3 @3;
    border-radius: 15px;
    font-size: 2rem;
    width: 80%;
    &:hover{
        color: @2;
        background: @1;
        cursor: pointer;
    }
}