// Mixins in here
// color, background, then padding
.button(@1, @2, @3: 0, @4: auto) {
    text-align: center;
    color: @1;
    background: @2;
    padding: @3 @4;
    border-radius: 15px;
    font-size: 2rem;
    width: 80%;

    &:hover {
        color: @2;
        background: @1;
        cursor: pointer;
        .trans();
    }
}

.trans() {
    transition: .5s ease-out;
}