// Mixins in here
// color, background, then padding
.button {
    text-align: center;
    color: @white;
    background: @eastern-blue;
    padding: 10px 35px;
    border-radius: 15px;
    font-size: 2rem;
    width: 80%;

    &:hover {
        color: @eastern-blue;
        background: @white;
        cursor: pointer;
        .trans();
    }
}

.trans() {
    transition: .5s ease-out;
}

.mob(@1: inherit, @2: inherit, @3: inherit, @4: inherit) {
    @media @mobile{
        width: @1;
        margin: @2;
        padding: @3;
        flex-direction: @4;
    }
}
