// Navigation Styles here

nav{
    position: sticky;
    top: 0;
    background: @white;
    border-bottom: 2px dashed @silver;
    width: 100%;
    height: max-content;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media @mobile{
        flex-direction: column;
    }

    h1{
        @media @mobile{
            margin-bottom: 15px;
        }
    }

    div{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;

        @media @mobile{
            width: 100%;
        }

        a{
            color: black;
            text-decoration: none;
            font-size: 1.5rem;
            .trans();

            &:hover{
                text-decoration: underline;
                color: blue;
            }
        }
    }
}
